<script src="/js/js/AdminLogin.js" defer></script>
<!-- Formulario para login -->

    <div class="container d-flex justify-content-center mt-5">
      <form id="formulario-login" class="bg-white p-5 shadow rounded" style="max-width: 400px; width: 100%;" novalidate method="get" action="/admin/">
        <h3 class="mb-4 text-center">Login - Funcionários</h3><br><br>

        <div class="form-group">
          <div class="float-container">
            <input type="email" id="login-email" name="email" class="form-control" placeholder=" " required>
            <label for="login-email">E-mail</label>
          </div>
          <p id="erro-email" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="password" id="login-senha" name="senha" class="form-control" placeholder=" " required>
            <label for="login-senha">Senha</label>
          </div>
          <p id="erro-senha" class="erro"></p>
        </div>

        <div class="text-center mt-4">
          <button id="btn-login" type="submit">Entrar</button>
        </div>

        <div class="text-center mt-3">
          <p id="mensagem-sucesso" class="text-success" style="display: none;">Login realizado com sucesso!</p>
        </div>

        <div class="text-center mt-3">
          <small><a href="/admin/adminCadastro">Cadastrar novo Funcionário</a></small>
        </div>
      </form>
    </div>

    <!-- <div class="container mt-5">
      <h4 class="mb-3">Usuários Logados</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox" id="ckTodos"></th>
            <th>Email</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody id="tb-body">
         
        </tbody>
      </table>
      <button class="btn btn-danger" id="btnExcluirSelecionados">Excluir Selecionados</button>
    </div> -->