<script src="/js/js/AdminLogin.js" defer></script>
<!-- Formulario para login -->

    <div class="container d-flex justify-content-center mt-5">
      <form id="formulario-login" class="bg-white p-5 shadow rounded" style="max-width: 400px; width: 100%;" novalidate method="get" action="/admin/">
        <h3 class="mb-4 text-center">Login - Funcionários</h3><br><br>

        <div class="form-floating mb-3">
            <input type="email" id="login-email" name="email" class="form-control" placeholder=" " required>
            <label for="login-email">E-mail</label>
          <p id="erro-email" class="erro"></p>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="login-senha" name="senha" class="form-control" placeholder=" " required>
            <label for="login-senha">Senha</label>
          <p id="erro-senha" class="erro"></p>
        </div>

        <div class="text-center mt-4">
          <button id="btn-login" type="submit">Entrar</button>
        </div>

        <div class="text-center mt-3">
          <p id="mensagem-final"></p>
        </div>

        <div class="text-center mt-3">
          <small><a href="/adminLogin/Cadastro">Cadastrar novo Funcionário</a></small>
        </div>
      </form>
    </div>