<script src="/js/js/adminCadastro.js" defer></script>
    <!-- Formulario para cadastro -->

    <div class="container d-flex justify-content-center mt-5">
      <form id="formulario-login" class="bg-white p-5 shadow rounded" style="max-width: 400px; width: 100%;" novalidate>
        <h3 class="mb-4 text-center">Cadastro de Funcionários</h3>
        <div class="form-floating mb-3">
            <input type="text" id="login-nome" name="nome" class="form-control" placeholder=" " required maxlength="100">
            <label for="login-nome">Nome completo:</label>
          <p id="erro-nome" class="erro"></p>
        </div>

        <div class="form-floating mb-3">
            <input type="text" id="login-cpf" name="cpf" class="form-control" placeholder=" " required maxlength="11">
            <label for="login-cpf">CPF:</label>
          <p id="erro-cpf" class="erro"></p>
        </div>

        <div class="form-floating mb-3">
            <input type="text" id="login-telefone" name="telefone" class="form-control" placeholder=" " required maxlength="11">
            <label for="login-telefone">Telefone:</label>
          <p id="erro-telefone" class="erro"></p>
        </div>

        <div class="form-floating mb-3">
            <input type="email" id="login-email" name="email" class="form-control" placeholder=" " required maxlength="100">
            <label for="login-email">E-mail</label>
          <p id="erro-email" class="erro"></p>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="login-senha" name="senha" class="form-control" placeholder=" " required maxlength="30">
            <label for="login-senha">Senha:</label>
          <p id="erro-senha" class="erro"></p>
        </div>

        <div class="form-floating mb-3">
            <input type="password" id="login-senha2" name="confirmar" class="form-control" placeholder=" " required maxlength="30">
            <label for="login-confirmar">Confirmar Senha:</label>
          <p id="erro-senha2" class="erro"></p>
        </div>

        <div class="text-center mt-4">
          <button id="btn-login" type="submit">Cadastrar</button>
        </div>

        <div class="text-center mt-3">
          <p id="mensagem-final"></p>
        </div>

        <div class="text-center mt-3">
          <small>Já é cadastrado? <a href="/adminLogin/">Login</a></small>
        </div>
      </form>
    </div>