<script src="/js/js/adminCadastro.js" defer></script>
    <!-- Formulario para login -->

    <div class="container d-flex justify-content-center mt-5">
      <form id="formulario-login" class="bg-white p-5 shadow rounded" style="max-width: 400px; width: 100%;" novalidate>
        <h3 class="mb-4 text-center">Cadastro de Funcionários</h3><br><br>

        <div class="form-group">
          <div class="float-container">
            <input type="text" id="login-nome" name="nome" class="form-control" placeholder=" " required>
            <label for="login-nome">Nome completo</label>
          </div>
          <p id="erro-nome" class="erro"></p>
        </div>


        <div class="form-group">
          <div class="float-container">
            <input type="email" id="login-email" name="email" class="form-control" placeholder=" " required>
            <label for="login-email">E-mail</label>
          </div>
          <p id="erro-email" class="erro"></p>
        </div>


        <div class="form-group">
          <div class="float-container">
            <input type="password" id="login-senha" name="senha" class="form-control" placeholder=" " required>
            <label for="login-senha">Senha</label>
          </div>
          <p id="erro-senha" class="erro"></p>
        </div>

        <div class="form-group">
          <div class="float-container">
            <input type="password" id="login-confirmar" name="confirmar" class="form-control" placeholder=" " required>

            <label for="login-confirmar">Confirmar Senha</label>
          </div>
          <p id="erro-confirmar" class="erro"></p>
        </div>


        <div class="text-center mt-4">
          <button id="btn-login" type="submit">Cadastrar</button>
        </div>

        <div class="text-center mt-3">
          <p id="mensagem-sucesso" class="text-success" style="display: none;">Cadastro realizado com sucesso!</p>
        </div>

        <div class="text-center mt-3">
          <small>Já é cadastrado? <a href="/admin/AdminLogin">Login</a></small>
        </div>
      </form>
    </div>

    <!-- <div class="container mt-5">
      <h4 class="mb-3">Usuários Cadastrados</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th><input type="checkbox" id="ckTodos"></th>
            <th>Nome</th>
            <th>Email</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody id="tb-body">
          
        </tbody>
      </table>
      <button class="btn btn-danger" id="btnExcluirSelecionados">Excluir Selecionados</button>
    </div>* -->