<script src="/js/js/cadastrarServico.js" defer></script>
<div class="container">
    <h1>Cadastro de Serviços</h1>
    <div id="form">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nomeval" placeholder=" " maxlength="50">
            <label for="nome">Nome:</label>
        </div>
        <div class="form-floating mb-3" id="preco">
            <input type="number" class="form-control" id="precoval" placeholder=" ">
            <label for="preco">Preço:</label>
        </div>
        <div class="form-floating mb-3" id="descricao">
            <input type="text" class="form-control" id="descricaoval" placeholder=" " maxlength="100">
            <label for="descricao">Descrição:</label>
        </div>
        <button class="btn btn-primary" id="cadastrar">Cadastrar Serviço</button>
        <a href="/admin/listagem" class="btn btn-secondary">Voltar</a>
    </div>
</div>