<script src="/js/js/cadastrarCategoria.js" defer></script>
<div class="container">
    <h1>Cadastrar Categoria</h1>
    <div id="form">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nomeval" placeholder=" " maxlength="50">
            <label for="nome">Nome:</label>
        </div>
        <button class="btn btn-primary" id="cadastrar">Cadastrar Categoria</button>
        <a href="/admin/listagem" class="btn btn-secondary">Voltar</a>
    </div>
</div>