<script src="/js/js/cadastrarEqAgricola.js" defer></script>
<div class="container">
    <h1>Cadastrar Equipamento Agricola</h1>
    <div id="form">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nomeval" placeholder=" " maxlength="50">
            <label for="nome">Nome:</label>
        </div>
        <div class="form-floating mb-3" id="preco">
            <input type="number" class="form-control" id="precoval" placeholder=" ">
            <label for="preco">Preço:</label>
        </div>
        <div class="form-floating mb-3" id="marca">
            <select name="marca" id="marcaval" class="form-control">
            <option value="0" selected>...</option>
            <% for(let i=0; i<listaMarcas.length ; i++) {%>
                <option value="<%=listaMarcas[i].id%>"><%=listaMarcas[i].nome%></option>
                <%}%>
            </select>
            <label for="tipoItem">Marca:</label>
        </div>
        <button class="btn btn-primary" id="cadastrar">Cadastrar Equipamento Agricola</button>
        <a href="/admin/listagem" class="btn btn-secondary">Voltar</a>
    </div>
</div>