<div class="hero-wrap hero-bread" style="background-image: url('images/pexels2.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Sobre nós</span></p>
            <h1 class="mb-0 bread">Sobre nós</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/pexels1.jpg); height: 750px;">
          </div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section-bold mb-4 mt-md-5">
	          	<div class="ml-md-0">
		            <h2 class="mb-4">Bem Vindo à EGAC - Tecnologia e Inovação para o Agronegócio</h2>
	            </div>
	          </div>
	          <div class="pb-md-5">
	          	<p>A EGAC (Empresa de Gestão Agricola e Comércio) foi fundada em 2024 com o objetivo de revolucionar o setor do agronegócio, fornecendo soluções tecnológicas avançadas para produtores rurais de todo o Brasil. Com sede em São Paulo, somos pioneiros no uso de drones para monitoramento de plantações e oferecemos uma linha completa de equipamentos e softwares, como tratores automatizados, sensores de solo e sistemas de irrigação inteligentes. Nosso compromisso é ajudar os agricultores a alcançar o máximo de eficiência e produtividade, utilizando tecnologia de ponta para um agronegócio mais inteligente e sustentável.</p>
							<p>Hoje, a EGAC é reconhecida como uma das principais empresas do setor de agronegócio tecnológico, sendo um parceiro estratégico para milhares de agricultores em todo o país.</p>
							<p><a href="shop.html" class="btn btn-primary">Comprar agora</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Inscreva-se no nosso Boletim</h2>
          	<span>Receba atualizações por e-mail sobre nossas lojas mais recentes e ofertas especiais</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Digite seu endereço de e-mail">
                <input type="submit" value="Inscrever-se" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
		
		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/pexels3.jpg);">
    	<div class="container">
    		<div class="row justify-content-center py-5">
    			<div class="col-md-10">
		    		<div class="row">
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="750">0</strong>
		                <span>Agricultores atendidos</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="187">0</strong>
		                <span>Projetos implementados</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="154">0</strong>
		                <span>Drones em operação</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center">
		              <div class="text">
		                <strong class="number" data-number="56">0</strong>
		                <span>Tecnologias agrícolas inovadoras</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>
		
		

    <section class="ftco-section">
			<div class="container">
				<div class="row no-gutters ftco-services" style="display: flex; justify-content: space-between; width: 100%;">
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-shipped"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Frete grátis</h3>
                <span>Acima de R$100</span>
              </div>
            </div>      
          </div>          
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-award"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Qualidade superior</h3>
                <span>Produtos de qualidade</span>
              </div>
            </div>      
          </div>
          <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services mb-md-0 mb-4">
              <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
            		<span class="flaticon-customer-service"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Suporte</h3>
                <span>Suporte em tempo real</span>
              </div>
            </div>      
          </div>
        </div>
			</div>
		</section>