<div class="hero-wrap hero-bread" style="background-image: url('/images/noticias.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Notícias</span></p>
            <h1 class="mb-0 bread">Notícias</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ftco-animate">
						<div class="row">
							<div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="https://www.canalrural.com.br/pecuaria/veja-como-os-precos-do-boi-gordo-terminaram-a-semana/" class="block-20" style="background-image: url('images/boigordo.jpg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="https://www.canalrural.com.br/pecuaria/veja-como-os-precos-do-boi-gordo-terminaram-a-semana/">21/02/2025 19:34</a></div>
		                  <div><a href="https://www.canalrural.com.br/pecuaria/veja-como-os-precos-do-boi-gordo-terminaram-a-semana/" class="meta-chat"><span class="icon-chat"></span> 19</a></div>
		                </div>
		                <h3 class="heading"><a href="https://www.canalrural.com.br/pecuaria/veja-como-os-precos-do-boi-gordo-terminaram-a-semana/">Veja como os preços do boi gordo terminaram essa semana</a></h3>
		                <p>Ambiente de negócios ainda sugere por novas tentativas de compra em patamares mais baixos.</p>
		                <p><a href="https://www.canalrural.com.br/pecuaria/veja-como-os-precos-do-boi-gordo-terminaram-a-semana/" class="btn btn-primary py-2 px-3">Ler mais</a></p>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="https://www.canalrural.com.br/agricultura/projeto-soja-brasil/chuva-volumosa-em-breve-confira-onde-a-agua-afeta-a-colheita-de-soja/" class="block-20" style="background-image: url('images/chuva.webp');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="https://www.canalrural.com.br/agricultura/projeto-soja-brasil/chuva-volumosa-em-breve-confira-onde-a-agua-afeta-a-colheita-de-soja/">21/02/2025 17:56 </a></div>
		                  <div><a href="https://www.canalrural.com.br/agricultura/projeto-soja-brasil/chuva-volumosa-em-breve-confira-onde-a-agua-afeta-a-colheita-de-soja/" class="meta-chat"><span class="icon-chat"></span> 4</a></div>
		                </div>
		                <h3 class="heading"><a href="#">Chuva volumosa em breve: confira onde a água afeta a colheita de soja </a></h3>
		                <p>Clima em todo o Brasil traz desafios para o trabalho nas lavouras de soja, mas também<br> há previsões de melhorias para algumas regiões nas próximas semanas.</p>
		                <p><a href="https://www.canalrural.com.br/agricultura/projeto-soja-brasil/chuva-volumosa-em-breve-confira-onde-a-agua-afeta-a-colheita-de-soja/" class="btn btn-primary py-2 px-3">Ler mais</a></p>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="https://www.canalrural.com.br/pecuaria/veja-como-os-precos-do-boi-gordo-terminaram-a-semana/" class="block-20" style="background-image: url('images/soja.jpg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="https://www.noticiasagricolas.com.br/videos/soja/395013-mercado-brasileiro-da-soja-tem-cenario-construtivo-para-os-precos-premios-seguem-positivos.html">20/02/2025 14:23</a></div>
		                  <div><a href="https://www.noticiasagricolas.com.br/videos/soja/395013-mercado-brasileiro-da-soja-tem-cenario-construtivo-para-os-precos-premios-seguem-positivos.html" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <h3 class="heading"><a href="https://www.noticiasagricolas.com.br/videos/soja/395013-mercado-brasileiro-da-soja-tem-cenario-construtivo-para-os-precos-premios-seguem-positivos.html">Mercado brasileiro da soja tem cenário construtivo <br>para os preços; prêmios seguem positivos</a></h3>
		                <p>Diferença da temporada 2024/25 para a anterior será esta sendo menos disputada<br> entre demandas interna e externa, como se deu no ano passado.<br> Ano será mais "administrável" para o comprador. Carregar soja para os próximos meses terá custo alto. </p>
		                <p><a href="https://www.noticiasagricolas.com.br/videos/soja/395013-mercado-brasileiro-da-soja-tem-cenario-construtivo-para-os-precos-premios-seguem-positivos.html" class="btn btn-primary py-2 px-3">Ler mais</a></p>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex ftco-animate">
		            <div class="blog-entry align-self-stretch d-md-flex">
		              <a href="https://www.agrolink.com.br/culturas/soja/noticia/alta-do-milho-desafia-resistencia--soja-perde-forca_499521.html" class="block-20" style="background-image: url('images/milho.jpg');">
		              </a>
		              <div class="text d-block pl-md-4">
		              	<div class="meta mb-3">
		                  <div><a href="https://www.agrolink.com.br/culturas/soja/noticia/alta-do-milho-desafia-resistencia--soja-perde-forca_499521.html">20/02/2025 12:27</a></div>
		                  <div><a href="https://www.agrolink.com.br/culturas/soja/noticia/alta-do-milho-desafia-resistencia--soja-perde-forca_499521.html" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
		                </div>
		                <h3 class="heading"><a href="https://www.agrolink.com.br/culturas/soja/noticia/alta-do-milho-desafia-resistencia--soja-perde-forca_499521.html">Alta do milho desafia resistência</a></h3>
		                <p>Milho registrou uma semana de alta, com os futuros para março avançando 1,8%<br> e encerrando a sexta-feira a 496,25 cents por bushel. </p>
		                <p><a href="https://www.agrolink.com.br/culturas/soja/noticia/alta-do-milho-desafia-resistencia--soja-perde-forca_499521.html" class="btn btn-primary py-2 px-3">Ler mais</a></p>
		              </div>
		            </div>
		          </div>
						</div>
          </div> <!-- .col-md-8 -->
          

            <div class="sidebar-box ftco-animate">
              <h3 class="heading">Notícias Recentes</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/boigordo.jpg);"></a>
                <div class="text">
                  <h3 class="heading-1"><a href="#">Preços finais do boi gordo nessa semana</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> 21/02/2025</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(images/chuva.webp);"></a>
                <div class="text">
                  <h3 class="heading-1"><a href="#">Áreas onde vão ser afetadas pela chuva volumosa</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> 21/02/2025</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 4</a></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </section>