<div>
			<div class="hero-wrap hero-bread" style="background-image: url('images/EGAC\ LOGO.png');">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center justify-content-center"></div>
				</div>
			</div>
		</div>

		<div class="shopping-section">
			<section class="ftco-section">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-md-10 mb-5 text-center">
							<ul class="product-category">
								<!-- <li><a href="shop.html" class="active">Todos</a></li>
						<li><a href="shopsuino.html">Suinos</a></li>
						<li><a href="shopaves.html">Aves</a></li>
						<li><a href="shopbovino.html">Bovinos</a></li>
						<li><a href="shopovino.html">Ovinos</a></li>
						<li><a href="shopequinos.html">Equinos</a></li>
						<li><a href="shoptecnologia.html" class="text-blue">Tecnologia</a></li> -->
								<li><button class="btn-filter active" data-filter="todos">Todos</button></li>
								<li><button class="btn-filter" data-filter="suinos">Suínos</button></li>
								<li><button class="btn-filter" data-filter="aves">Aves</button></li>
								<li><button class="btn-filter" data-filter="bovinos">Bovinos</button></li>
								<li><button class="btn-filter" data-filter="ovinos">Ovinos</button></li>
								<li><button class="btn-filter" data-filter="equinos">Equinos</button></li>
								<li><button class="btn-filter" data-filter="tecnologia">Tecnologia</button></li>
							</ul>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="suinos" data-name="Baycox Suspensão 5% 250ml"
								data-price="118.93" data-img="images/baycox.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/baycox.png"
										alt="Colorlib Template">
									<span class="status">30%</span>
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Baycox Suspensão 5% <br>250ml</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span class="mr-2 price-dc">R$169.90</span><span
													class="price-sale">R$118.93</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
										
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="suinos" data-name="Agita Mosquicida 100G" data-price="122.00" data-img="images/agita.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/agita.png"
										alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Agita Mosquicida <br>100G</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$122.00</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
										
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="suinos" data-name="Comedouro Leitão 5 Divisórias" data-price="238.00" data-img="images/comedouro.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/comedouro.png"
										alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Comedouro Leitão <br>5 Divisórias</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$238.00</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="suinos" data-name="Comedouro Suíno 40-80kg" data-price="120.00" data-img="images/comedouro2.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/comedouro2.png"
										alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Comedouro Suíno <br>40-80kg</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$120.00</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="aves" data-name="Vetococ Controle de Coccidiose 4g" data-price="6.93" data-img="images/vetococ.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/vetococ.png"
										alt="Colorlib Template">
									<span class="status">30%</span>
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Controle de Coccidiose <br>4g</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span class="mr-2 price-dc">R$9.90</span><span
													class="price-sale">R$6.93</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="aves" data-name="Ração de Galinha 20kg" data-price="25.90" data-img="images/racao1.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/racao1.png"
										alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Ração de Galinha <br>20kg</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$25.90</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="aves" data-name="Ração Aves Inicial 5kg" data-price="21.90" data-img="images/racao2.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/racao2.png"
										alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Ração Aves Inicial <br>5kg</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$21.90</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-lg-3 ftco-animate">
							<div class="product" data-category="aves" data-name="Suplemento Hidratante Probiótico" data-price="342.90" data-img="images/racao3.png">
								<a href="#" class="img-prod"><img class="img-fluid" src="images/racao3.png"
										alt="Colorlib Template">
									<div class="overlay"></div>
								</a>
								<div class="text py-3 pb-4 px-3 text-center">
									<h3><a href="#">Suplemento Hidratante <br>Probiótico</a></h3>
									<div class="d-flex">
										<div class="pricing">
											<p class="price"><span>R$342.90</span></p>
										</div>
									</div>
									<div class="bottom-area d-flex px-3">
										<div class="m-auto d-flex">
											
											<a href="#"
												class="buy-now d-flex justify-content-center align-items-center mx-1">
												<span><i class="ion-ios-cart"></i></span>
											</a>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product" data-category="bovinos" data-name="Ração para Bovino Lactação 40KG" data-price="202.93" data-img="images/bovino1.png">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/bovino1.png"
											alt="Colorlib Template">
										<span class="status">30%</span>
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">Ração para Bovino <br>Lactação 40KG</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">R$289.90</span><span
														class="price-sale">R$202.93</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product" data-category="bovinos" data-name="Virginiamicina + Monensina + Uréia = Engorda 20kg" data-price="1450.90" data-img="images/bovino2.png">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/bovino2.png"
											alt="Colorlib Template">
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">Virginiamicina + Monensina <br>+ Uréia = Engorda 20kg</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span>R$1450.90</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product" data-category="ovinos" data-name="Suplemento Altofós 30Kg" data-price="221.13" data-img="images/ovino1.png">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/ovino1.png"
											alt="Colorlib Template">
										<span class="status">30%</span>
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">Suplemento Altofós 30Kg</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">R$315.90</span><span
														class="price-sale">R$221.13</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product" data-category="ovinos" data-name="Suplemento Produtividade 5kg" data-price="650.90" data-img="images/ovino2.png">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/ovino2.png"
											alt="Colorlib Template">
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">Suplemento Produtividade <br>5kg</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span>R$650.90</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product" data-category="equinos" data-name="Suplemento Mineral Creatina 1kg" data-price="230.93" data-img="images/equino1.png">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/equino1.png"
											alt="Colorlib Template">
										<span class="status">30%</span>
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">Suplemento Mineral <br>Creatina 1kg</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span class="mr-2 price-dc">R$329,90</span><span
														class="price-sale">R$230,93</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-3 ftco-animate">
								<div class="product" data-category="equinos" data-name="Acelerador de Resultados 1,5kg" data-price="320.90" data-img="images/equino2.png">
									<a href="#" class="img-prod"><img class="img-fluid" src="images/equino2.png"
											alt="Colorlib Template">
										<div class="overlay"></div>
									</a>
									<div class="text py-3 pb-4 px-3 text-center">
										<h3><a href="#">Acelerador de Resultados <br>1,5kg</a></h3>
										<div class="d-flex">
											<div class="pricing">
												<p class="price"><span>R$320,90</span></p>
											</div>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr style="width: 50%; margin: 20px auto; border: 1px solid #35b831;">
							<br>
							<br>
							<br>
							<div class="row justify-content-center product" data-category="tecnologia" data-name="Drone AgroTech Fast" data-price="4890.00" data-img="images/drone.jpg">
								<div class="col-md-12 d-flex align-items-center ftco-animate">

									<div class="col-md-6">
										<img class="img-fluid" src="images/drone.jpg"
											alt="Suplemento Mineral Creatina 1kg">
									</div>


									<div class="col-md-6">
										<h3>Drone AgroTech Fast</h3>
										<p class="subtitulo">Monitoramento Inteligente para o Agronegócio - Otimizar sua
											produção rural com precisão e eficiência.</p>
										<div class="pricing">
											<p class="price"><span>R$4890,00</span></p>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>



							<br>
							<br>
							<div class="row justify-content-center  product" data-category="tecnologia" data-name="Trator Inteligente SF900" data-price="594000.00" data-img="images/trator.png">
								<div class="col-md-12 d-flex align-items-center ftco-animate">

									<div class="col-md-6">
										<img class="img-fluid" src="images/trator.png"
											alt="Suplemento Mineral Creatina 1kg">
									</div>


									<div class="col-md-6">
										<h3>Trator Inteligente SF900</h3>
										<p class="subtitulo">Disponibilizamos uma tecnologia para facilitar a
											agricultura: o
											trator que roteiriza o campo e percorre trajetos sem precisar de operador.
											Planta e
											semea automático com eficiência. Colhe automaticamente as plantas no horário
											certo.
											Ele oferece uma economia de tempo e custo além de melhorar a eficiência no
											campo.
										</p>
										<div class="pricing">
											<p class="price"><span>R$594.000</span></p>
										</div>
										<div class="bottom-area d-flex px-3">
											<div class="m-auto d-flex">
												
												<a href="#"
													class="buy-now d-flex justify-content-center align-items-center mx-1">
													<span><i class="ion-ios-cart"></i></span>
												</a>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt-5">
					</div>
				</div>
			</section>
		</div>